:root {
  --color-grey-light-1: #f7f9f9;
  --color-grey-light-2: #f7f7f7;
  --color-grey-light-3: #e7e7e8;
  --color-dark-grey: #536471;
  --color-black: #0f1419;
  --color-button_blue_1: #8ecdf7;
  --color-button_blue_2: #1d9bf0;
  --color-button_blue_3: #1a8cd8; }
